%Body
  %CompanyApptRequest{  'xmlns' => 'http://xmlgw.companieshouse.gov.uk/v1-0/schema', 'xmlns:xsi' => 'http://www.w3.org/2001/XMLSchema-instance', 'xsi:schemaLocation' => 'http://xmlgw.companieshouse.gov.uk/v1-0/schema/CompanyAppointments-v2-2.xsd' }
    %CompanyNumber= company_number
    %CompanyName= company_name
    %IncludeResignedInd 1
